<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @formulario.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @formulario.email %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @formulario.observacion %>
</p>

<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', formularios_path %>
