<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @producto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
