<%= form_with(model: formulariosobservacion, local: true) do |form| %>
  <% if formulariosobservacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulariosobservacion.errors.count, "error") %> prohibited this formulariosobservacion from being saved:</h2>

      <ul>
      <% formulariosobservacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :formulario_id %>
    <%= form.text_field :formulario_id, id: :formulariosobservacion_formulario_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :formulariosobservacion_title %>
  </div>

  <div class="field">
    <%= form.label :observation %>
    <%= form.text_field :observation, id: :formulariosobservacion_observation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
